# python for data science

Basic of python <br>
1.operators <br>
2.Variables and variables naming conventions<br>
3.Data types in pyhton  <br>
4.Conditional statements <br>
5.Looping Statements <br>
6.funtions <br>
7.packages in python <br>
8.Getting Familiar with pandas library in python <br>

""""
# Operators <br>

Symbolic representation of mathematical tasks <br>

3+5 3 and 5 are opernds and + is operator

if we take a string and multipy it by opertors it will multiple

operators are 3 types <br>
1.arthematica  <br>
2.comparison operator <br>
3.logical operator <br>
 and & or opertores retuns only operands and not will retuen only true or flase """

'''and > retuen the first flase value ; if not found returns last
or return first true value ; if not found return last
not > flip the bollran value of the poerand

0 is flase <br>
1 is true <br>
'''

# Arthematica Operator

In [3]:
# additions
4+3

7

In [4]:
# subtraction 
54-55

-1

In [6]:
# multification

2*4

8

In [9]:
# division
37/7

5.285714285714286

In [10]:
"akash"+"30"

'akash30'

In [11]:
"akash"*6

'akashakashakashakashakashakash'

## COMPARITION OPERATORS

In [12]:
# greater then
5>4

True

In [13]:
# less then
4>3

True

In [14]:
3>4

False

In [18]:
3>=3

True

In [22]:
1!= 3

True

 # Logical operator

In [23]:
0 and 3

0

In [24]:
1 and 3

3

In [25]:
 1 or 3

1

# understanding variables and data types

''''variables are names or variabels names assigned to objects  <br> 
variables = value
j = 10  <br>
k = 12  <br>
h = 10  <br>
''''

rules 

1. python is case sensentive  <br>
2. variabels name cannot start with special character except underscore (_)  <br>
3 . variables name cannot start with number   <br>

-------------------------------------  <br>

variables can store int values flote values and bool and string <br>

# variable Assignment

In [29]:
a = 5 
print(a)

5

In [32]:
# case sensentive 
A = 5.1
print(A)

5.1

# How to variabels work in python

In [34]:
a = 7
b = a
a = 3 
print(a)

3

In [35]:
print(b)

7

In [36]:
a = 5

In [39]:
_a= 7
print(_a)

7

# Datatypes in python

In [41]:
a = 5
type(a)

int

In [42]:
a = 5.5
type(a)

float

In [43]:
a = "akash"
type(a)

str

 # Conditional Statements

""""
1  if - else statements : single conditions
    
    syantax
    
    if(condition):
        statement 1
    else:
         statement 2 
         
         
2  if - else - else statement : multiple conditions
    
    
    if( condition1):
               statement 1
    elif(condition2):
               statement 2
    else :
               statement 3
               
               
The expression depicting a true or a false value after the if or elif statement is call : A condition
                                 """"

# Problem 1 : Take a variable x and print "even" if the number is divisible by 2 ,otherwise print "odd"

In [56]:
x = 4

if (x%2==0):
    print("even")
else:
    print("odd")

even

# Problem 2 : Take a variable y and print "grade A" if y is grater then 90,"grade B"if y is grater then 60 but less then or equal to 90 and "grade F" other wise

In [65]:
x = 90.5

if (x > 90):
    print('grade A')
elif (x > 60):
    print('grade B')
else:
    print ('Grade F')

grade A

In [67]:
if 5 > 10:
    print('Fun')
elif 8!= 9 :
    print("glass")
else:
    print('Cream')

glass

# looping constructs in python

# for loop

sample for loop in python

for i in range(1000):
    print("python is awesome") 
    """

In [70]:
for i in range(2):
    print("i am learing python")

i am learing python
i am learing python

In [73]:
for i in '':
    print(i)

# problem 1 : write a for loop to print all the numbers between 10 and 50

In [77]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

# Problem 2 : Write a for loop to print all thr odd numbers between 10 to 50

In [81]:
for i in range(11,50,2): # here 2 is the step skipped
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [84]:
# print 1 to 99 in odd
for i in range(1,13,2):
    print(i)

1
3
5
7
9
11

Funtions

what is funtion ?
re useable piece of code <br>
created for solving specific problem <br>

built in funtions <br>
print(), range(), min(),max(),etc

user defined funtions  <br>
area of circal() <br>


syntax for defining a funtion 

def funtion_name(arguments):  <br>
  statement 1  <br>
  statement 2  <br>
  
  return statement  <br>
  
  
  example <br>
  
  def area_circal(radius):  <br>
            area = 3.14*r*r <br>
          
            return area  <br>

# problem : create a funtion that takes two numbers as argument and return the greater of the two

In [87]:
def comapre(a,b):
    if (a>b):
        grater = a
    else:
        grater = b
    return grater

In [90]:
comapre(10,40)

40

In [92]:
comapre(19,30)

30

In [93]:
def min(a,b):
    if (a >b):
        return b
    elif (a == b ):
        return 'The number are eqal'
    else:
        return a  # both conditions are flase to it return else statement

In [94]:
min(200,400)

200

In [95]:
min(50,10)  # here first if conditions is true

10

# Data structures

existing data types - int,float,bool,str

problem with existing data types <br>

1.data in a variable can be stored in a single format i.e eoghter integers or decimals or strings etc < br>

2. large memory overhead by creating large mumber of variables. < br>

3. unfit for storing large structured data <br>


two type of data structures for sloving there problems <br>
1. list  <br>
2. dictionaries <br>

# list
 what is list <br>
   a list is a ordered data structure with elemets separated by comma and enclosed within square brackets <br>
    
# sub setting  <br>

list 1 [ 1,2,3,4,5] <br>
list 2 ["a","b","c"] <br>
list 3 [1,"a",2, "b"] <br> 
mix data types <br>
elements are stored indexing <br>
list3[1] = a <br>  ( extracting single elements)
list3[1:2] <br>

# add elemets <br>

append funtion (list.append)<br>
for more elements to add (list.extend([5:7]))  <br>


# delete elements  <br>

deleting an elememts by value  <br>
list.remove(2) <br>

deleting an elements by index <br>
del list[3] <br>

# looping over list <br>
printing elements of list <br>

for i in list3: <br>
    print(i) <br>